body { background:#fff url('../img/backhaze.png') center 120px repeat-x; }

.brand { position:absolute; top:-7.2em; left:2em; }

.navbar.navbar-fixed-top { position:relative; }
.navbar .navbar-inner { height:15em; background:url('../img/headerback.png') repeat-x top center; }
.navbar .container { position:absolute; bottom:0; left:5em; }
.navbar .nav { margin-left:20em; }
.navbar .nav a { outline:0; }
.navbar ul.nav>li>a:hover { background:rgba(0, 0, 0, 0.25); }
.navbar .nav .icon-white { opacity:.5; margin-top:.15em; }
.navbar .nav a:hover .icon-white, .navbar .nav .active a .icon-white { opacity:1; }
.navbar .nav .active a, .navbar .nav .active a:hover { background:#f6f6f6; color:#000; padding-bottom:1em; margin-bottom:-1em; box-shadow:inset 0 1px 2px rgba(0, 0, 0, .5); text-shadow:0 -1px 0 rgba(255, 255, 255, 0.25); }
.navbar .nav .active .icon-white { background-image:url(../img/glyphicons-halflings.png); }
.navbar .dropdown-menu { min-width:100px; }
.navbar .dropdown-menu img { vertical-align:text-top; }
.navbar .dropdown-menu i { margin-top:.15em; }

#description { position:absolute; top:-11em; left:20em; color:#a1aab0; width:60em; }
#description strong, #description a { color:#eaeaea; font-weight:bold; text-decoration:none; }
#description h2 { color:#b9e768; font-size:22px; text-shadow:0px 2px 1px #09151e; margin-bottom:.3em; }
