body { background:#fafafa; margin-bottom:10em; }

.brand { position:absolute; top:-7.5em; left:2em; }
.libredocs { position:absolute; top:3em; left:3.4em; color:black; font-weight:bold; font-size:1.5em; }
.libredocs a { font-size:1em; padding-left:2em; }
.libredocs img { width:2em; position:absolute; top:1.4em; left:0; }

.navbar.navbar-fixed-top { position:relative; }
.navbar .navbar-inner { height:15em; background:url('../img/headerback.png') repeat-x top center; }
.navbar .container { position:absolute; bottom:0; left:5em; }
.navbar .nav { margin-left:20em; }
.navbar .nav a { outline:0; }
.navbar ul.nav>li>a:hover { background:rgba(0, 0, 0, 0.25); }
.navbar .nav .icon-white { opacity:.5; margin-top:.15em; }
.navbar .nav a:hover .icon-white, .navbar .nav .active a .icon-white { opacity:1; }
.navbar .nav .active a, .navbar .nav .active a:hover { background:#fafafa; color:#000; padding-bottom:1em; margin-bottom:-1em; box-shadow:inset 0 1px 2px rgba(0, 0, 0, .5); text-shadow:0 -1px 0 rgba(255, 255, 255, 0.25); }
.navbar .nav .active .icon-white { background-image:url(../img/glyphicons-halflings.png); }
.navbar .dropdown-menu { min-width:100px; }
.navbar .dropdown-menu img { vertical-align:text-top; }
.navbar .dropdown-menu i { margin-top:.15em; }
.navbar .dropdown { margin-left:15em; }
.navbar .dropdown+.dropdown { margin-left:0; }

#description { position:absolute; top:-9em; left:20em; color:#a1aab0; width:60em; }
#description strong, #description a { color:#eaeaea; font-weight:bold; text-decoration:none; }
#description h2 { color:#b9e768; font-size:5.4em; text-shadow:0px 2px 1px #09151e; margin-bottom:.3em; }
#description p { font-size:2em; }

article.container { width:60em; margin-left:25em; }

.introduction iframe { border:0; }
.introduction #infographic { position:relative; top:3em; }
.introduction #infographic .column { position:relative; display:block; float:left; }
.introduction #infographic h2 { text-align:center; }
.introduction #infographic div { margin:0 1em; }
.introduction #infographic img { margin:0 3em; }
.introduction #infographic #apps { width:36%; position:relative; }
.introduction #infographic #apps img { width:10em; height:7em; }
.introduction #infographic #apps img.app1 { margin:-4em 0 0 0; padding:2em; }
.introduction #infographic #apps img.app2 { margin:1em -3em 0 0; }
.introduction #infographic #apps img.app3 { margin:-.5em 0 0 3em; }
.introduction #infographic #sync { width:16%; margin-top:5em; }
.introduction #infographic #sync img { width:10em; height:7em; }
.introduction #infographic #sync h2 { margin-top:2.9em; }
.introduction #infographic #remotestorage { width:35%; }
.introduction #infographic #remotestorage img { width:13em; height:15em; }
.introduction #infographic #arrow { position:absolute; left:4em; top:22em; }
.introduction #infographic .column h3 { font-size:16px; font-weight:bold; line-height:22px; margin-bottom:22px; margin-top:2em; }

.developer h2 { margin-top:2em; }

.thanks .donation { display:inline; margin-right:2em; }
.thanks #paypal { position:relative; top:-2em; }
