body { background:#fafafa; margin-bottom:10em; min-width:1110px; }

article.container { width:60em; margin-left:2em; }


.remotestorage ul { list-style:none; margin-left:0; padding-left:0; }
.remotestorage img { float:left; clear:both; width:10em; margin:1em 1em 1em 0; }
.remotestorage li { margin:1em 0; }

abbr { text-transform:none; }
