/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

*,html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, , strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers. 
   There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
	
		background: #e7ecef;
		background: url('../img/backhaze.png') center 120px  repeat-x #e7ecef;
		color: #172535;
		font: 13px 'Lucida Grande', Lucida, Helvetica, Arial, Helmet, Freesans, sans-serif;
		line-height:22px;
		margin:0
		}

/* we like off-black for text */
body, select, input, textarea {color: #172535;}
p{margin-bottom: 22px;
a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}


#toplight{background: url('../img/bodyback.png') top center no-repeat transparent;
	height: 450px;
	min-height: 450px;
	overflow: hidden;
	width: 200px;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
;}
.wrapper { 
		display: block;
		margin: 0 auto;
		width: 960px;
		
		}

//
//  HEADER STYLES
//

header {
			display: block;
			position: relative;
			height: 500px;
			width: 100%;
		}
		
	header h1{ font-size: 24px; font-weight:bold; }
		header h1 a{text-decoration: none; color:inherit;	}
	header .tagline{ position: relative; width:100%; text-align:center}

		header .tagline h2{ 
			display: block;
			width: 660px;
			margin: 0 auto;
			margin-bottom: 24px;
			margin-top: 130px;
			background: url('../img/imagine.png') top center
			no-repeat;
			height: 50px;
			min-height: 50px;
			text-indent: -2000px;
			}
		header .tagline p{ 
			display: block; 
			position: relative; 
			width: 460px; margin: 0 auto; text-align: center; color:  #6d757f; font: 15px; font-style: italic; text-shadow: 0px 1px 0px #fff; }
			header .tagline p strong{ display: block; color: #172535; font-size: 18px; margin-top: 10px; }
			

//
// INTRO STYLES
//

	#introduction{
	
	}
		#introduction .column{
			position: relative;
			display: block;
			float: left;
			width: 280px;
			margin: 0 10px;
			padding: 0 10px;
		}
		
			#introduction .column h3{
				font-size: 16px;
				font-weight: bold;
				line-height: 22px;
				margin-bottom: 22px;
				margin-top: 200px;
			}
//
//FOOTER
//

footer{
	background: red;
	width: 100%;
	position: relative;
	width: 100%;
	display: block;
	clear: both;
	margin-top: 100px;
	}
	
	footer .links{
		margin-left: 10px;
		display: block;
		float: left;
	}
		footer .links h3{
			font-size: 13px;
		}
	footer ul{
		padding-left: 10px;
		font-size: 13px;
	}

.clear{ clear: both;}		 
	


/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

