body { margin-top:-1.5em; } /*why is this needed?*/
#toplight{
	background: url('../img/bodyback.png') top center no-repeat transparent;
	height: 20em;
    min-height:20em;
	overflow: hidden;
	width: 12em;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%; 
	z-index: -200;
	}
.wrapper { 
		display: block;
		margin: 0 auto;
		width: 960px;
		position: relative;
		}

#donations{
  height:20em;
  background: url('../img/headerback.png') repeat-x top center;
	display: block;
	position: relative;
	width:100%;
    z-index:100;
    top:0;
}
h1 img { position:absolute; width:9em; float:left; top:1em; left:3em; z-index:101; }

#logolight{
	position: absolute;
	display: block;
	width: 500px;
	height:20em;
	top:0;
	left:-3em;
	background: url('../img/logolightdark.png') no-repeat top left;
	z-index: 99;
}

    #campaign, #thanks{
		color: #a1aab0;
		display: block;
		width: 540px;
		margin-top: .5em;
		float: right;
		margin-right: 1em;
		}
		#campaign strong,  #thanks strong, #campaign a{
			color: #eaeaea;
			font-weight: bold;
            text-decoration:none;
		}
		#campaign h2,  #thanks h2{
			color: #b9e768;
			font-size: 22px;
			text-shadow: 0px 2px 1px #09151e;
			background: url('../img/helpruler.png') bottom repeat-x;
			padding-bottom: 10px;
						
		}
		
/*
//  HEADER STYLES
*/
	
header{
	display: block;
	position: relative;
	height: 370px;
	width: 100%;
}
	header.minimal{
		height: 100px;
	}
		
	header h1{ 
		display: block;
		height: 28px;
		font-size: 24px;
		font-weight:bold;
		text-indent: -5000px;
		background: url('../img/unhosted.png') no-repeat left top;
		
		}
		
		header h1 a{ display: block; width: 170px; height: 30px; text-decoration: none; color:inherit;	}
	header .tagline{ position: relative; width:100%; text-align:center; }
			

/*
// INTRO STYLES
*/
#introduction { position:relative; top:3em; }
		#introduction .column{
			position: relative;
			display:block;
            float:left;
		}
        #introduction h2 { text-align:center; }
	#introduction div { margin:0 1em; }
	#introduction img { margin:0 3em; }
        #introduction #you { width:36%; }
        #introduction #you img#browser { width:20em; height:15em; }
        #introduction #sync { width:16%; }
        #introduction #sync svg#sync { width:10em; height:15em; }
        #introduction #remotestorage { width:35%; }
        #introduction #remotestorage img#storage { width:13em; height:15em; }
		#introduction #arrow { position:absolute; left:4em; top:22em; }
        
			#introduction .column h3{
				font-size: 16px;
				font-weight: bold;
				line-height: 22px;
				margin-bottom: 22px;
				margin-top: 2em;
			}

#demoapps ul li { display:inline; float:left; margin:1em; }
#demoapps a img { border-radius:.5em; }
		
        #apptorrent { display:block; position:absolute; top:30em; bottom:5em; }
    	#apptorrent .column{
			position: relative;
			display: block;
			float: left;
			width: 280px;
			margin: 0 10px;
			padding: 0 10px;
			margin-bottom: 40px;
		}
			#apptorrent .column#packager{
			
			}
			#apptorrent .column#dashboard{
			
			}
			#apptorrent .column#player{
			
			}
		
			#introduction .column h3{
				font-size: 16px;
				font-weight: bold;
				line-height: 22px;
				margin-bottom: 22px;
				margin-top: 260px;
			}

/*
// webDAV
*/
	#webDAV{
		padding-left: 20px;
		padding-right: 20px;
	}
		#webDAV ul.index{
			list-style: disc;
		}
		#webDAV h3{
			margin-top: 46px;
		}			
/*
//FOOTER
*/

footer{
	background: url('../img/footerback.png') repeat-x left top;
	width: 100%;
	margin: 0;
	position: relative;
	width: 100%;
	display: block;
	position: relative;
	clear: both;
	margin-top:100px;
    top:5em;
	}
	
	footer .links{
		display: block;
		float: left;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 24px;
		width: 100px;
		
	}
		footer .links h3{
			font-size: 16px;
			color: #74858f;
			font-weight: normal;
			border-bottom: 1px solid #314855;
			text-shadow: 0px -1px 0px #0e1a22;
			margin-bottom: 0px;
			padding-bottom: 10px;
		}
	footer ul{
		padding-left: 0;
		font-size: 13px;
		float: left;
		margin-top: 10px;
		
	}
		footer ul li a{
			color: white;
			font-weight: bold;
			font-size: 12px;
			text-shadow: 0px -1px 0px #09151e;
			text-decoration: none;
		}
			
				footer ul li a:hover{
					text-decoration: underline;
				}
				
		footer #community{
			display: block;
			float:right ;
			background: #112632;
			position: relative;
			width: 500px;
			color: #95a2aa;
			padding: 10px 20px 20px 20px;
			margin-top: 40px;
			margin-bottom: 40px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			border-radius: 5px;
		}
			footer #community p{
				line-height: 23px;
				padding: 0;
				
			}
			
				footer #community p strong{
					color: white;
					font-weight: normal;
					font-size: 13px;
				}
				footer #community div{
					position: absolute;
					background: url('../img/youmake.png') no-repeat right bottom transparent;
					right: 95px;
					bottom: 33px;
					width: 240px;
					height: 120px;
					text-indent: -5000px;
					
				}
	#credits{
		background: #10212b;
		text-align: right;
		padding: 10px 0;
		color: #627784;
	}
		#credits a{color: white; text-decoration:none;}
	.FlattrButton{
		position: relative;
		float: right;
	}
.clear{ clear: both;}

.mirosubs-widget video {
    display: block !important;
    margin: 40px !important;
    margin-bottom: 0 !important;
    }
    
 div.mirosubs-videoTab-container {
     display: block;
     height: 32px !important;
     margin: 0 40px !important;
     width: 257px !important;
     }
