* { margin:0; padding:0; }
details { display:none; }
body { width:800px; height:600px; margin-left:-400px; margin-top:-300px; position:absolute; top:50%; left:50%; overflow:hidden; }
section { position:absolute; pointer-events:none; width:100%; height:100%; }
section[aria-selected] { pointer-events:auto; }
html { overflow:hidden; }
body { display:none; }
body.loaded { display:block; }
.incremental {visibility:hidden; }
.incremental[active] {visibility:visible; }
.blurred { opacity:.2; }
.remotestorage-loading {
    -webkit-animation-name:remotestorage-loading; -webkit-animation-duration:2s; -webkit-animation-iteration-count:infinite; -webkit-animation-timing-function:linear;
    -moz-animation-name:remotestorage-loading; -moz-animation-duration:2s; -moz-animation-iteration-count:infinite; -moz-animation-timing-function:linear;
    -o-animation-name:remotestorage-loading; -o-animation-duration:2s; -o-animation-iteration-count:infinite; -o-animation-timing-function:linear;
    -ms-animation-name:remotestorage-loading; -ms-animation-duration:2s; -ms-animation-iteration-count:infinite; -ms-animation-timing-function:linear; }
@-webkit-keyframes remotestorage-loading { from{-webkit-transform:rotate(0deg)} to{-webkit-transform:rotate(360deg)} }
@-moz-keyframes remotestorage-loading { from{-moz-transform:rotate(0deg)} to{-moz-transform:rotate(360deg)} }
@-o-keyframes remotestorage-loading { from{-o-transform:rotate(0deg)} to{-o-transform:rotate(360deg)} }
@-ms-keyframes remotestorage-loading { from{-ms-transform:rotate(0deg)} to{ -ms-transform:rotate(360deg)} }
