* { padding:0; margin:0; border:0; outline:0; }
html { overflow-x:hidden; overflow-y:hidden; }
textarea { position:absolute; padding:10% 20%; font:2em; width:60%; height:80%; overflow-x:hidden; overflow-y:auto; resize:none; }
