#toplight{
    background: url('./img/bodyback.png') top center no-repeat transparent;
    height: 450px;
    min-height: 450px;
    overflow: hidden;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; 
    z-index: -200;
    }
.wrapper { 
        display: block;
        margin: 0 auto;
        width: 960px;
        }

/*
//  HEADER STYLES
*/
#preload1, #preload2{
    height: 1px;
    width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    background: url('./img/download_hover.png') top center no-repeat transparent;
    
}
    #preload2{
        background: url('./img/download_press.png') top center no-repeat transparent;   
    }
 //******************
 // DONATIONS
 //******************   
  #donations{
	  position: relative;
	  height: 544px; background: url('./img/headerback.png') repeat-x top center red;
		display: block;
		position: relative;
		
	}
  
 //******************
 // HEADER
 //******************   
header{
    display: block;
    position: relative;
    height: 500px;
    width: 100%;
}
    header.minimal{
        height: 100px;
    }
        
    header h1{ 
        display: block;
        height: 28px;
        font-size: 24px;
        font-weight:bold;
        text-indent: -5000px;
        background: url('./img/unhosted.png') no-repeat left top;
        margin-top: 40px;
        }
        
        header h1 a{ display: block; width: 170px; height: 30px; text-decoration: none; color:inherit;  }
    header .tagline{ position: relative; width:100%; text-align:center; }
	
		header .tagline a{ text-decoration: none; color: #3f4956; font-weight: bold; }
			header .tagline a:hover{ text-decoration: underline;}
        header .tagline h2{ 
            display: block;
            width: 660px;
            margin: 0 auto;
            margin-bottom: 24px;
            margin-top: 90px;
            background: url('./img/imagine.png') top center
            no-repeat;
            height: 50px;
            min-height: 50px;
            text-indent: -5000px;
            }
            
        header .tagline p{ 
            display: block; 
            position: relative; 
            width: 460px; 
            margin: 0 auto;
            text-align: center;
            color:  #6d757f;
            font-size: 15px;
            font-style: italic;
            text-shadow: 0px 1px 0px #fff;
            }
            
            header .tagline p strong{
                display: block;
                color: #172535;
                font-size: 18px;
                margin-top: 10px; 
            }
            
            header #downloadholder{
                background: url('./img/downloadholder.png') no-repeat top center; 
                display: block;
                margin: 0 auto;
                width: 600px;
                height: 100px;
            }
            header #downloadholder a{
                background: url('./img/download.png') top center no-repeat transparent;
                display: block;
                margin: 0 auto;
                height: 80px;
                width: 321px;
                text-indent: -5000px;
                cursor: pointer;
                margin-top: 55px;
                }
                header #downloadholder a:hover{
                    background: url('./img/download_hover.png') top center no-repeat transparent;
                    }
                header #downloadholder a:active{
                    background: url('./img/download_press.png') top center no-repeat transparent;
                    }
            

/*
// INTRO STYLES
*/

        #introduction .column{
            position: relative;
            display: block;
            float: left;
            width: 280px;
            margin: 0 10px;
            padding: 0 10px;
            margin-bottom: 40px;
        }
            #introduction .column#evolution{
                background: url(./img/dna.png) no-repeat top center;
            }
            #introduction .column#data{
                background: url(./img/data.png) no-repeat top center;
            }
            #introduction .column#solution{
                background: url(./img/island.png) no-repeat top center;
            }
        
            #introduction .column h3{
                font-size: 16px;
                font-weight: bold;
                line-height: 22px;
                margin-bottom: 22px;
                margin-top: 260px;
            }
            

/*
// webDAV
*/
    #webDAV{
        padding-left: 20px;
        padding-right: 20px;
    }
        #webDAV ul.index{
            list-style: disc;
        }
        #webDAV h3{
            margin-top: 46px;
        }           
/*
//FOOTER
*/

footer{
    background: url('./img/footerback.png') repeat-x left top;
    width: 100%;
    margin: 0;
    position: relative;
    width: 100%;
    display: block;
    position: relative;
    clear: both;
    margin-top: 100px;
    }
    
    footer .links{
        display: block;
        float: left;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 24px;
        width: 100px;
        
    }
        footer .links h3{
            font-size: 16px;
            color: #74858f;
            font-weight: normal;
            border-bottom: 1px solid #314855;
            text-shadow: 0px -1px 0px #0e1a22;
            margin-bottom: 0px;
            padding-bottom: 10px;
        }
    footer ul{
        padding-left: 0;
        font-size: 13px;
        float: left;
        margin-top: 10px;
        
    }
        footer ul li a{
            color: white;
            font-weight: bold;
            font-size: 12px;
            text-shadow: 0px -1px 0px #09151e;
            text-decoration: none;
        }
            
                footer ul li a:hover{
                    text-decoration: underline;
                }
                
        footer #community{
            display: block;
            float:right ;
            background: #112632;
            position: relative;
            width: 500px;
            color: #95a2aa;
            padding: 10px 20px 20px 20px;
            margin-top: 40px;
            margin-bottom: 40px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
        }
            footer #community p{
                line-height: 23px;
                padding: 0;
                
            }
            
                footer #community p strong{
                    color: white;
                    font-weight: normal;
                    font-size: 13px;
                }
                footer #community div{
                    position: absolute;
                    background: url('./img/youmake.png') no-repeat right bottom transparent;
                    right: 95px;
                    bottom: 33px;
                    width: 240px;
                    height: 120px;
                    text-indent: -5000px;
                    
                }
    #credits{
        background: #10212b;
        text-align: right;
        padding: 10px 0;
        color: #627784;
    }
        #credits a{color: white; text-decoration:none;}
    .FlattrButton{
        position: relative;
        float: right;
    }
.clear{ clear: both;}