/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
}

body {
	margin: 0 auto;
	width: 940px;
	background: #808080;
	font-family: 'Arial black','Arial', San-serif;
	text-align: justify;
}

a:link {
	color:#000000;
}

a:visited {
	color:#000000;
}

h2 {
	font-size: 28px;
	line-height: 44px;
}

#names {
	width: 920px;
	padding-left:10px;
	padding-right:10px;
}

#textBelow {
	padding-top: 0px;
	padding-bottom: 44px;
}

span {
	margin: 10px;
	padding: 10px;  
	line-height: 60px;
	background: #f0f0f0;
	border-radius: 15px;
	font-family: Gill Sans, Verdana;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
}
