/* Makeshift CSS Reset */
{
	margin: 0;
	padding: 0;
}

/* Tell the browser to render HTML 5 elements as block */
header, footer, aside, nav, article {
	display: block;
	
}
header{
	clear: both;
	margin-top: 30px;
	
}
body {
	margin: 0 auto;
	width: 940px;
	background:#fef1ba;
	font-family: proxima-nova-alt-1, proxima-nova-alt-2, 'Helvetica','Arial', Sans-serif-serif;
	
	line-height: 24px;
	font-size: 16px;
	font-family: proxima-nova-alt-1,proxima-nova-alt-2,sans-serif;
	font-style: normal;
	font-weight: 400;
}

a:link {
	color:#000000;
}

a:visited {
	color:#000000;
}

h2 {
	display: block;
	text-indent:-5000px;
	width: 380px;
	background: url('./_/css/img/thankyou/thankyou.png') no-repeat left top ;
	height: 350px;
	float: left;
	}


#names {
	clear: both;
	width: 850px;
	padding-left:40px;
	padding-right:10px;
	text-shadow:0px 0.5px 4.5px white;
	display: block;
	margin-bottom: 80px;
	margin-top: 40px;
	
}

#intro {
	padding-top: 30px;
	padding-bottom: 44px;
	float: left;
	width: 20px;
	width: 440px;
	margin-left: 60px;
	text-shadow:0px 0.5px 4.5px white;
}

span {
	margin: 10px;
	padding: 0px; 
	display:compact;
	display: ;
	line-height: 30px;
	background: #f1e3a9;
	color: black;
	border-radius: 15px;
	font-family: georgia;
	font-style: italic;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	width: auto;
	margin: 10px auto;
	text-align: center;
}

a:link {
	color:#000000;
}
a:visited {
	color:#000000;
}
.clear{clear: both;}
#footer{
	clear: both;
	margin-top: 40px;
	text-indent: -5000px;
	display: block;
	background: url('./_/css/img/thankyou/footer.png') no-repeat left top ;
	height: 440px;
}
