body { font:15px sans-serif; line-height:1.4em; max-width:1000px }
h1 { font:45px sans-serif; margin: 10px 0px 10px 0px }
h2 { font:25px sans-serif }
h3 { font:20px sans-serif }
h4 { font:18px sans-serif }

header { margin-top: 80px; margin-bottom:100px; line-height:1.0em }

article { float:right; max-width:600px; margin:10px 10px 40px 10px}

nav { float:right; width:250px; margin:30px 50px 50px 50px; background-color:#EEE; border-radius:5px }
nav div { text-align:left; margin:10px }
nav div img { border-radius:5px }
.logo { float:right; width:350px; text-align:center }
nav .logo { float:right; width:250px; text-align:center }
.logo img { margin:0 auto }

footer { clear:right; text-align:center; background-color:#EEE }