body { font:15px sans-serif; line-height:1.4em; color:#222 }
h1 { font:57px sans-serif; margin: 0px 0px 10px 0px }
h2 { font:25px sans-serif }
h3 { font:20px sans-serif }
h4 { font:18px sans-serif sourced }

header { margin-top: 50px; margin-bottom:300px; margin-left:30px; line-height:1.0em; color:#666 }

article { width:600px; margin:10px 10px 40px 10px}

article h2 { margin-top: 5em }
article header h2 { margin-top: 0 }

nav { width:600px; margin:30px 50px 50px 50px; line-height:0.6em; background-color:#EEE; color:#002; border-radius:5px }
nav p { margin-left:1em }
nav a:hover,active { color:#006 }
nav div { text-align:left; margin:10px }
nav div img { border-radius:5px }
.logo { margin-top:150px; margin-bottom:150px; margin-left:20px; width:600px; text-align:center }
nav .logo { margin-top:10px; margin-bottom:10px; width:250px; text-align:center }
.logo img { margin:0 auto }
nav ul { line-height: 1.2em }

.episode { page-break-before:always; padding-left:20px }
